<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand" href="/">
        <span id="h1", style="font-size:30px;">토끼지마</span>
        <span id="h2">
          <img src="/image/carrot.png" width="35">
        </span>
        <span id="h3", style="font-size:30px;">켓</span>
      </a>
      <ul class="navbar-nav">
        <li class="nav-item"><a href="/posts" class="nav-link">판매 게시판</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if(isAuthenticated){ %>
          <li class="nav-item"><a href="/users/<%= currentUser.username %>" class="nav-link">마이페이지</a></li>
          <li class="nav-item"><a href="/logout" class="nav-link">로그아웃</a></li>
        <% } else { %>
          <li class="nav-item"><a href="/users/identity" class="nav-link">회원가입</a></li>
          <li class="nav-item"><a href="/login" class="nav-link">로그인</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
