<!DOCTYPE html>
<html>
  <head>
    <meta name="referrer" content="no-referrer" />
    <%- include('../partials/head2') %>
    <style>
      body {
           background-color: #FFDEB8;
       }

       #container {
         text-align: center;
       }

        #title {
          text-align: center;
          color: #000000;
          opacity: 1;
        }

        #before_bt {
          position: absolute;
          left: 600px;
        }

    </style>
  </head>
  <body>
    <header>
      <%- include('../partials/nav') %>
      <div id="container" class="container mb-3">
        <a style="color: #000000; font-family: Segoe UI; font-size: 20px;"><br>1. 아래 사진을 클릭하여 경찰청 페이지에 접속하세요.<br></a>
        <a href="https://ecrm.cyber.go.kr/minwon/main">
          <div id="image_1">
              <img src="/image/1.png" width="600">
          </div>
        </a>
        <a style="color: #000000; font-family: Segoe UI; font-size: 20px;"><br>2. 본인 인증을 진행하세요.<br></a>
        <a>
          <div id="image_2">
              <img src="/image/3.png" width="600">
          </div>
        </a>
        <a style="color: #000000; font-family: Segoe UI; font-size: 20px;"><br>3. 사전 질문에 대답하세요.<br></a>
        <a>
          <div id="image_3">
              <img src="/image/4.png" width="600">
          </div>
        </a><br>
        <a>
          <div id="image_3-2">
              <img src="/image/5.png" width="600">
          </div>
        </a>
        <a style="color: #000000; font-family: Segoe UI; font-size: 20px;"><br>4. 신고하기 처리 지침을 확인하세요.<br></a>
        <a>
          <div id="image_4">
              <img src="/image/6.png" width="600">
          </div>
        </a>
        <a style="color: #000000; font-family: Segoe UI; font-size: 20px;"><br>5. 범죄유형을 선택하세요.<br></a>
        <a>
          <div id="image_5">
              <img src="/image/7.png" width="600"> <img src="/image/7-2.png" width="600">
          </div>
        </a>
        <a style="color: #000000; font-family: Segoe UI; font-size: 20px;"><br>6. 증거자료를 첨부하세요.<br></a>
        <a>
          <div id="image_6">
              <img src="/image/9-1.png" width="600"> <img src="/image/9-2.png" width="600">
          </div>
        </a>
        <a style="color: #000000; font-family: Segoe UI; font-size: 20px;"><br>7. 인적사항을 입력하세요.<br></a>
        <a>
          <div id="image_7">
              <img src="/image/10-1.png" width="600"> <img src="/image/10-2.png" width="600">
          </div>
        </a>
        <a style="color: #000000; font-family: Segoe UI; font-size: 20px;"><br>8. 진술(진정)서 내용을 입력하세요.<br></a>
        <a>
          <div id="image_8">
              <img src="/image/11-1.png" width="600">
              <img src="/image/11-2.png" width="600">
              <img src="/image/11-3.png" width="600">
              <img src="/image/11-4.png" width="600">
              <img src="/image/11-5.png" width="600">
              <img src="/image/11-6.png" width="600">
              <img src="/image/11-7.png" width="600">
          </div>
        </a>
        <a style="color: #000000; font-family: Segoe UI; font-size: 20px;"><br>9. 신고 접수가 완료되었습니다. 해당 관할서의 연락을 기다리세요.<br></a>
      </div>
      <a><br></a>
      <div class="form-group">
        <a id="before_bt" href="/home/report" class="btn btn-primary" style="color: #000000; background: #F6C488; border: 3px solid #787878;">이전</a>
      </div>
      <a><br><br></a>
    </header>
  </body>
</html>
