<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head2') %>
    <meta charset = "UTF-8">
    <title>토끼지마켓</title>
    <!-- font 설정 -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@300;500;700;900&display=swap" rel="stylesheet">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <style>
      body{
        text-decoration: none;
        list-style: none;
        background-color:#FFDEB8;
      }
      .navbar{
        background-color:#FFDEB8;
        font-family: 'Nanum Gothic', sans-serif;
      }
      .navbar-brand > #h1{
        color: #717171;
        font-weight: 800;
      }
      .navbar-brand > #h1{
        top:0px;
      }
      .navbar-brand > #h3{
        color: #717171;
        font-weight: 800;
      }
      .collapse > .navbar-nav{
        font-family: 'Nanum Gothic', sans-serif;
        color: #717171;
        font-weight: 800;
        font-size: 20px;
      }
      .header2 > .navbar-nav{
        font-family: 'Nanum Gothic', sans-serif;
        color: #717171;
        font-weight: 800;
        font-size: 20px;
      }

       #container {
          padding: auto;
        }

        #ttitle {
          margin-top: 2%;
          margin-left: 40%;
        }

        #edit_bt {
          margin-top: 4%;
          margin-left: 30%;
       }

       #purchase_bt {
         margin-top: 1%;
         margin-left: 30%;
       }

       #before_bt {
         margin-top: 3%;
         margin-left: 42.5%;
       }

    </style>
  </head>
  <body>
    <%- include('../partials/sim2_nav') %>
    <div id="container" class="container mb-3">
      <h3 id="ttitle" style="font: HYGothic-Extra; font-weight: bold; color: #787878; font-size: 30px;" class="contentBoxTop mb-3">신고하기</h3>
      <div id="edit_bt">
          <a class="btn btn-primary" href="/users/<%= user.username %>/report1" style="text-align: left; background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box; border: 3px solid var(--unnamed-color-707070); background: #FFFFFF 0% 0% no-repeat padding-box; border: 2px solid #707070; opacity: 1; color: #000000; font: normal normal normal Segoe UI; width: 397px; height: 70px;">
              매뉴얼 확인<br>
              경찰청 페이지에 접속하여 신고 절차를 진행하세요.
            </a>
          </a>
      </div>
      <div id="purchase_bt">
          <a class="btn btn-primary" href="#" style="text-align: left; background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box; border: 3px solid var(--unnamed-color-707070); background: #FFFFFF 0% 0% no-repeat padding-box; border: 2px solid #707070; opacity: 1; color: #000000; font: normal normal normal Segoe UI; width: 397px; height: 70px;">
            경찰 인증<br>
            경찰 인증을 통해 신원 정보를 조회하세요.
          </a>
      </div>
      <div class="form-group">
        <% if(isAuthenticated){ %>
          <a id="before_bt" href="/users/<%= currentUser.username %>" class="btn btn-primary" style="color: #000000; background: #F6C488; border: 3px solid #787878;">이전</a>
        <% } %>
      </div>
    </div>
  </body>
</html>
